/* General body and container styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.container {
    text-align: center;
    opacity: 0;
    animation: fadeIn 0.61803398903s ease-in forwards;
}


/* Image styling */
img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

/* Navigation links */
.nav-links {
    margin-top: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    margin: 0 15px;
    font-size: 18px;
}

.nav-links a:hover {
    color: #007bff;
}

/* Animation for fading in */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* About Me Page Specific Styles */
.about-container {
    text-align: center;
    opacity: 0;
    animation: fadeIn 0.61803398903s ease-in forwards;
}

/* Profile Image styling for about page */
.profile-image {
    margin-top: 20px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.aboutme-page {
    align-self: start;
}

/* Separator line and rhombus */
.separator {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
    position: relative;
}

.line {
    height: 2px;
    width: 80%;
    background-color: #333;
}

.rhombus {
    width: 20px;
    height: 20px;
    background-color: #333;
    transform: rotate(45deg);
    position: absolute;
}

/* About Me text styling */
.about-text {
    font-family: 'Helvetica', sans-serif;
    font-size: 18px;
    line-height: 1.6;
    color: #333;
    margin: 0 20px;
    opacity: 0;
    animation: fadeIn 0.61803398903s ease-in forwards;
    animation-delay: 0.61803398903s; /* Start after 0.61803398903s delay */
    width: 76.470588236%; /* US letter margin */
    margin-left: 11.764705882%; /* US letter margin */
    margin-right: 11.764705882%; /* US letter margin */
    margin-top: 4.0909%; /* 9.0909% margin on the top */
}


.projects-container {
    
}